{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">Doctors List</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index-2.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li><a class="parent-item" href="#">Doctors</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Doctors List</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab1" data-toggle="tab"> List View </a>
                </li>
                <li>
                    <a href="#tab2" data-toggle="tab"> Grid View </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fontawesome-demo" id="tab1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-topline-red">
                                <div class="card-head">
                                    <header></header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="btn-group">
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="btn-group pull-right">
                                               
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-print"></i> Print </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" id="example4">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th> Name </th>
                                                <th> Sex </th>
                                                <th> Address </th>
                                                <th> Mobile </th>
                                                <th> Email </th>
                                                <th> Specialization </th>
                                                <th> Work Experience</th>
                                                <th> Degree </th>
                                                <th> Salary </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for doctor in doctors %}
                                            <tr class="odd gradeX">
                                                <td class="patient-img">
                                                        <img src="/media/{{doctor.profile_pic}}" alt="">
                                                </td>
                                                <td>{{ doctor.d_name }}</td>
                                                <td class="center">{{ doctor.d_gender }}</td>
                                                <td class="center">{{ doctor.d_address }}</td>
                                                <td><a href="tel:{{ doctor.d_phone_no }}">
                                                        {{ doctor.d_phone_no }} </a></td>
                                                <td><a href="{{ doctor.d_email }}">
                                                        {{ doctor.d_email }} </a></td>
                                                <td class="center">{{ doctor.d_spec }}</td>
                                                <td class="center">{{ doctor.d_work_exp }}</td>
                                                <td class="center">{{ doctor.d_degree}}</td>
                                                <td class="center">{{ doctor.d_salary }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="row">
                        {% for d in doctors %}
                        <div class="col-md-4">
                            <div class="card card-topline-aqua">
                                <div class="card-body no-padding ">
                                    <div class="doctor-profile">
                                            <img src="/media/{{d.profile_pic}}" class="doctor-pic" alt=""> 
                                        <div class="profile-usertitle">
                                            <div class="doctor-name">{{ d.d_name }}</div>
                                            <h5><b>Specialization : {{ d.d_spec }}</b></h5>
                                            <h5><b>{{ d.d_degree }}</b></h5>
                                        </div>
                                            <h6>{{ d.d_work_exp }} years of work</h6>
                                            <p>{{ d.d_address }}</p> 
                                            <div>
                                            <p><i class="fa fa-phone"></i><a href="tel:{{ d.d_phone_no }}"> {{ d.d_phone_no }}</a></p>
                                            <p><i class="fa fa-pencil"></i><a href="tel:{{ d.d_email }}"> {{ d.d_email }}</a></p>
                                            </div>
                                        <div class="profile-userbuttons">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}  