{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<!-- <iframe
  width="1000"
  height="500"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDEpILlspDUPbSFe7tg1D1wsoJcl1lGvto
    &q=seeds+shops+near+me" allowfullscreen>
</iframe> -->
<iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=seeds%20shops%20near%20me&key=AIzaSyDadjDHUO3P3Fk-BTz95oVw5SbpPQF9rZ0" allowfullscreen></iframe>
{% endblock %}
