{% extends 'base.html' %}
{% load static %}
{% block body_block %}


<style type="text/css">
	.card{
		height: 250px;
	}
</style>
<div class="tab-pane">
	<div class="row">
		<div class="col-md-4">
			<div class="card card-topline-aqua">
				<div class="card-body no-padding ">
					<div class="doctor-profile">
						<div class="profile-usertitle">
							<div class="doctor-name">Rashtriya Krishi Vikas Yojna</div>
							<h5>Rashtriya Krishi Vikas Yojana is a State Plan Scheme of Additional Central Assistance launched in August 2007 as a part of the 11th Five Year Plan by the Government of India.</h5>
						</div>
						<div>
							<p><a>rkvy.nic.in</a></p>
						</div>
						<div class="profile-userbuttons">

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card card-topline-aqua">
				<div class="card-body no-padding ">
					<div class="doctor-profile">
						<div class="profile-usertitle">
							<div class="doctor-name">Agricultural Marketing Infrastructure</div>
							<h5>Agriculture Marketing Infrastructure erstwhile Grameen Bhandaran Yojana and Scheme for Development/Strengthening of Agriculture Marketing Infrastructure Grading</h5>
						</div>
						<div>
							<p><a>rkvy.nic.in</a></p>
						</div>
						<div class="profile-userbuttons">

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card card-topline-aqua">
				<div class="card-body no-padding ">
					<div class="doctor-profile">
						<div class="profile-usertitle">
							<div class="doctor-name">National Food Security Mission</div>
							<h5>The National Food Security Act, 2013 (also Right to Food Act) is an Act of the Parliament of India which aims to provide subsidized food grains to approximately two thirds of India's 1.2 billion people.</h5>
						</div>
						<div>
							<p><a>www.nfsm.gov.in</a></p>
						</div>
						<div class="profile-userbuttons">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="tab-pane" id="tab2">
	<div class="row">
		<div class="col-md-4">
			<div class="card card-topline-aqua">
				<div class="card-body no-padding ">
					<div class="doctor-profile">
						<div class="profile-usertitle">
							<div class="doctor-name">BGREI</div>
							<h5>“Bringing Green Revolution to Eastern India (BGREI)” was launched in 2010-11 to address the constraints limiting the productivity of “rice based cropping systems”</h5>

						</div>
						<div>
							<p><a>nfsm.gov.in/BGREI.aspx</a></p>
						</div>
						<div class="profile-userbuttons">

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card card-topline-aqua">
				<div class="card-body no-padding ">
					<div class="doctor-profile">
						<div class="profile-usertitle">
							<div class="doctor-name">NHM</div>
							<h5>It was launched under the 10th five-year plan in the year 2005-06.While Government of India contributes 85%, 15% share is contributed by State Governments.</h5>
						</div>
						<div>
							<p><a>http://nhm.nic.in/</a></p>
						</div>
						<div class="profile-userbuttons">

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="col-md-4">
			<div class="card card-topline-aqua">
				<div class="card-body no-padding ">
					<div class="doctor-profile">
						<div class="profile-usertitle">
							<div class="doctor-name">National Horticulture Mission</div>
						</div>
						<div>
							<p><a>http://nhm.nic.in/</a></p>
						</div>
						<div class="profile-userbuttons">

						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>



{% endblock %}  
